
.DS_Store
.DS_Store
.vs/ManageProd/xs/project-cache/ManageProd.Android-Debug.json
.vs/ManageProd/xs/project-cache/ManageProd.iOS-Debug|iPhone.json
.vs/ManageProd/xs/UserPrefs.xml
ManageProd/ManageProd.Android/bin/Debug/com.companyname.manageprod-Signed.apk
ManageProd/ManageProd.Android/bin/Debug/ManageProd.Android.dll
